header img {
    width: 200px;
    padding: 30px;
}

.header-links {
    text-align: right;
}

.pinklink {
    color: rgb(218, 59, 146);
}

nav a {
    color: grey;
    text-decoration: none;
    text-align: left;
    /* kodėl neveikia lygiuotė? */
}

body {
    font-family: 'Inter', sans-serif;
}

h4 {
    color: rgb(218, 59, 146);
}

img {
    width: 450px;
    ;
}

input {
    padding:15px; 
    border:3px solid rgb(218, 59, 146); 
    border-radius: 35px;
}

.container {
    display: flex;
    justify-content: space-between;
    padding: 30px;
}

footer {
    color: rgb(97, 97, 97);
}

th, td {
    padding: 10px;
    text-align: center;
    margin-right: 30px;
  }

footer img {
    width: 25px;
    padding: 2px;   
}

.choices {
    display: flex;
    width: 400px;
}

.choices img {
    width: 12px;
}

.box1, .box2, .box3, .box4 {
    background-color: lightgray;
    padding: 5px;
} 

#green-girl {
    display: inline-flex;
    float: right;
}


@media screen and (min-width: 768px) {
    display: inline;
 }